# 2. Data Cleaning and Data Preprocessing

# 2.1 Data Cleaning

## Import Libraries

In [ ]:
# Import basic libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## Load Dataset

In [ ]:
# Load Dataset
df = pd.read_csv('AutoInsurance.csv')
df.head()

  Customer       State  ...  Vehicle Class Vehicle Size
0  BU79786  Washington  ...   Two-Door Car      Medsize
1  QZ44356     Arizona  ...  Four-Door Car      Medsize
2  AI49188      Nevada  ...   Two-Door Car      Medsize
3  WW63253  California  ...            SUV      Medsize
4  HB64268  Washington  ...  Four-Door Car      Medsize

[5 rows x 24 columns]

## Checking Dataset  
 
*   Is there any missing value
*   Column only has 1 value 
*   Irrelevant column (not needed for analysis)

In [ ]:
# Create a dataframe to extract the wanted information
pd.DataFrame({'Feature': df.columns, 'DataType': df.dtypes,
             'Total Null Value': df.isna().sum(), 'Unique': df.nunique(),
             'Unique Value Sample': [list(df[i].drop_duplicates().sample()) for i in df.columns]}).reset_index(drop=True)

                          Feature DataType  ...  Unique  Unique Value Sample
0                        Customer   object  ...    9134            [OS75351]
1                           State   object  ...       5         [California]
2         Customer Lifetime Value  float64  ...    8041  [6756.062790999999]
3                        Response   object  ...       2                [Yes]
4                        Coverage   object  ...       3           [Extended]
5                       Education   object  ...       5            [College]
6               Effective To Date   object  ...      59            [2/20/11]
7                EmploymentStatus   object  ...       5           [Employed]
8                          Gender   object  ...       2                  [M]
9                          Income    int64  ...    5694              [59253]
10                  Location Code   object  ...       3           [Suburban]
11                 Marital Status   object  ...       3             [Single]
12           Monthly Premium Auto    int64  ...     202                 [95]
13        Months Since Last Claim    int64  ...      36                  [8]
14  Months Since Policy Inception    int64  ...     100                 [94]
15      Number of Open Complaints    int64  ...       6                  [2]
16             Number of Policies    int64  ...       9                  [3]
17                    Policy Type   object  ...       3     [Corporate Auto]
18                         Policy   object  ...       9       [Corporate L1]
19               Renew Offer Type   object  ...       4             [Offer2]
20                  Sales Channel   object  ...       4        [Call Center]
21             Total Claim Amount  float64  ...    5106         [113.237624]
22                  Vehicle Class   object  ...       6      [Four-Door Car]
23                   Vehicle Size   object  ...       3            [Medsize]

[24 rows x 5 columns]

**Summary:**
1. No missing value in this dataset 
2. No column that only has 1 value and all columns/features will be used for feature selection

# 2.2 Data Preprocessing

> Data Preprocessing will be split into 2 sections:  
1. **Data Preprocessing Modelling to decide 'Monthly Premium Auto'**
2. **Data Preprocessing Modeling to decide 'Total Claim Amount'**  

> Data preprocessing process will be explained in detail when we will begin the process for each model.